.idea/
*.egg-info/
*.pyc
__pycache__
/build/
/dist/
samples/win-calc/log.html
samples/win-calc/output.xml
samples/win-calc/report.html
samples/win-calc/prepared.png
samples/win-calc/guiproc-screenshot-*.png
